<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Menu</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <h3 class="page-title"> Menu List </h3>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right page-title">
                <a class="btn btn-sm green btn-outline filter-submit margin-bottom" href="ng/menu/add">
                    <i class="fa fa-plus"></i> Add New Menu</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box">
            <div class="portlet-body flip-scroll">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <form ng-submit="searchMenuList()">
                                <label>Search:
                                    <input type="search" ng-model="searchText" class="form-control input-sm input-medium input-inline" placeholder="Type and hit enter.">
                                    <button class="btn green btn-sm" type="submit">
                                        <span class="ladda-label">Search</span>
                                    </button>
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="label label-success pull-right" ng-show="loaderValue"> Loading data... </span>
                        <span class="pull-right" ng-show="!loaderValue">Total : {{totalItems}}</span>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th> Menu Name </th>
                            <th class="numeric"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="menu in menus track by $index">
                            <td class="numeric">{{menu.title}}</td>
                            <td class="numeric">
                                <a class="btn btn-outline btn-circle btn-sm purple" href="ng/menu/edit/{{menu.id}}"><i class="fa fa-edit"></i> View </a>
                                <a ng-click="deleteMenu(menu.id)" class="btn btn-outline btn-circle dark btn-sm black" href=""><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
