<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="ng/market-store/list">Market Store</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="ng/market-store-catalog/list/{{storeid}}">Market Store Catalog</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Market Items</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <h3 class="page-title"> Market Items List: Total ( {{itemsCount}} ) </h3>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right page-title">
                <a class="btn btn-sm green btn-outline filter-submit margin-bottom" href="ng/market-items/add/{{storeid}}/{{catid}}">
                    <i class="fa fa-plus"></i> Add New Market Items</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>All market items are listed here </div>
                <div class="tools">
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                    <!-- <a class="config" data-toggle="modal" href="#portlet-config" data-original-title="" title=""> </a>
                    <a class="reload" href="javascript:;" data-original-title="" title=""> </a> -->
                    <a class="remove" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-8 col-sm-8">
                            <span class="label label-success pull-left" ng-show="loaderValue"> Loading data... </span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="dataTables_filter pull-right">
                                <form ng-submit="search()">
                                    <label>Search:
                                        <input type="search" ng-model="searchText" class="form-control input-sm input-medium input-inline" placeholder="Type and hit enter.">
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th> Name </th>
                            <th> Unit Price </th>
                            <th> Selling Price </th>
                            <th> Description </th>
                            <th> Active </th>
                            <th class="numeric"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, items) in marketItems">
                            <td>{{items.name}}</td>
                            <td>{{items.unit_price}}</td>
                            <td class="numeric">{{items.selling_price}}</td>
                            <td class="numeric">{{items.description}}</td>
                            <td class="numeric">{{items.active}}</td>
                            <td class="numeric">
                                <a class="btn btn-outline btn-circle btn-sm purple" href="ng/market-items/edit/{{storeid}}/{{catid}}/{{key}}"><i class="fa fa-edit"></i> View </a>
                                <a class="btn btn-outline btn-circle dark btn-sm black" href="#" ng-click="delete(key)"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr ng-show="error.status">
                            <td colspan="6" class="text-center font-red font-lg">{{error.msg}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--<div class="row">
                    <div class="col-md-5 col-sm-5 text-left">
                        <div class="dataTables_info">Current Page {{currentPage}} . Total records {{totalItems}}.</div>
                    </div>
                    <div class="col-md-7 col-sm-7 text-right">
                        <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="numPerPage" ng-change="pageChanged()"></uib-pagination>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
