<style>
.pad_10 {
    padding: 10px 0 !important;
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="ng/tax/list/">Tax</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Tax List </h3>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 pad_10">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> States
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li ng-repeat="row in states">
                        <a href="javascript" ng-click="changeState(row.id)">
                            <i class="icon-user"></i> {{row.value}} </a>
                    </li>
                </ul>
                <div class="form-control-focus"> </div>
            </div>
        </div>
        <div class="col-md-6 pad_10">
            <div class="btn-group pull-right">
                <a class="btn btn-sm green btn-outline filter-submit margin-bottom" ng-click="importCsvPopup()">
                    <i class="fa fa-plus"></i> Import CSV</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Tax List - {{selectedState}}</div>
                <div class="tools">
                    <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>
                    <!-- <a class="config" data-toggle="modal" href="#portlet-config" data-original-title="" title=""> </a> -->
                    <a class="reload" href="javascript:;" data-original-title="" title="" ng-click="taxList()"> </a>
                    <a class="remove" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll" style="display: block;">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="dataTables_filter pull-left">
                            <form ng-submit="searchTax()">
                                <label>Search:
                                    <input type="search" ng-model="searchText" class="form-control input-sm input-medium input-inline" placeholder="Type State,Zip,Region Name,Region Code">
                                    <button class="btn green btn-sm" type="submit">
                                        <span class="ladda-label">Search</span>
                                    </button>
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
                <span class="pull-right">Total : {{totalItems || 0}}</span>
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th> State </th>
                            <th> Zip </th>
                            <th> Region Name </th>
                            <th> Region Code </th>
                            <th> Combined Rate </th>
                            <th> State Rate </th>
                            <th> Country Rate </th>
                            <th> City Rate </th>
                            <th> Special Rate </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in listOfTaxes">
                            <td> {{value.state}} </td>
                            <td> {{value.zip_code}} </td>
                            <td class="numeric"> {{value.tax_region_name}} </td>
                            <td class="numeric"> {{value.tax_region_code}} </td>
                            <td class="numeric"> {{value.combined_rate.toFixed(2)}} </td>
                            <td class="numeric"> {{value.state_rate.toFixed(2)}} </td>
                            <td class="numeric"> {{value.county_rate.toFixed(2)}} </td>
                            <td class="numeric"> {{value.city_rate.toFixed(2)}} </td>
                            <td class="numeric"> {{value.special_rate.toFixed(2)}} </td>
                        </tr>
                        <tr ng-show="errors.status">
                            <td colspan="10" style="text-align:center; color:red;">{{errors.msg}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-5 col-sm-5 text-left">
                        <div class="dataTables_info">Current Page {{currentPage}}. Total Records {{totalItems}}.</div>
                    </div>
                    <div class="col-md-7 col-sm-7 text-right">
                        <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage" ng-change="pageChanged()" max-size="maxSize"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<!--BEGIN IMPORT CSV POPUP-->
<script type="text/ng-template" id="import_csv">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import CSV - {{selectedState}}</h4>
            </div>
            <form class="form-horizontal" name="importCsvForm" method="post" ng-submit="addTax(importCsvForm.$valid)" novalidate>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <label for="form_control_1" class="col-md-3 control-label">Title <span class="required" aria-required="true">*</span></label>
                            <div class="col-md-9">
                                <input name="file" valid-file-upload="params.filename" type="file" accept=".csv" ng-model="params.filename" required valid-file />
                                <div class="form-control-focus"> </div>
                                <span ng-show="importCsvForm.file.$error.required && importCsvForm.file.$error.validFile" class="help-block">Please upload proper file format</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green" ng-disabled="importCsvForm.$invalid">Upload</button>
                    <button type="button" class="btn dark btn-outline" ng-click="cancel()">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <toastr>
        </toartr>
</script>
<!--END IMPORT CSV POPUP-->
