<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="ng/gift/list">Gift Code</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="">Edit Gift Code</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="ng/gift/add">
                        <i class="icon-user"></i> Add Gift Code </a>
                </li>               
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title font-green"><i class=" icon-user font-green"></i>  Edit Gift Code </h3>

<!-- BEGIN FORM-->
<form class="form-horizontal" name="giftForm" method="post" ng-submit="update(giftForm.$valid)" novalidate>
    <div class="row">    
        <div class="col-md-6">
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">GIFT CODE DETAILS</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        
                        <div class="form-group form-md-line-input" ng-class="{'has-error' : giftForm.state_code.$invalid && !giftForm.state_code.$pristine }">
                            <label class="col-md-4 control-label" for="form_control_1">State<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-8">
                                <select name="state_code" class="form-control dropdown-toggle" required
                            		ng-model="params.state_code" 
					ng-options="row.id as row.value for row in states"> 
                                    <option value="">Select State</option>
                                </select>
                                <div class="form-control-focus"></div>
                                <span ng-show="giftForm.state_code.$invalid && !giftForm.state_code.$pristine" class="help-block">Please select a state.</span>
                            </div>
                        </div>
                        
                        <div class="form-group form-md-line-input"  ng-class="{ 'has-error' : giftForm.code.$invalid && !giftForm.code.$pristine }">
                            <label for="form_control_1" class="col-md-4 control-label">Code <span class="required" aria-required="true">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="code"  ng-model="params.code" class="form-control" required>
                                <div class="form-control-focus"> </div>
                                <span ng-show="giftForm.code.$invalid && !giftForm.code.$pristine" class="help-block">Please enter gift code.</span>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input"  ng-class="{ 'has-error' : giftForm.title.$invalid && !giftForm.title.$pristine }">
                            <label for="form_control_1" class="col-md-4 control-label">Title <span class="required" aria-required="true">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="title"  ng-model="params.title" class="form-control" required>
                                <div class="form-control-focus"> </div>
                                <span ng-show="giftForm.title.$invalid && !giftForm.title.$pristine" class="help-block">Please enter title.</span>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error' : giftForm.amount.$invalid && !giftForm.amount.$pristine }">
                            <label for="form_control_1" class="col-md-4 control-label">Amount <span class="required" aria-required="true">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="amount" ng-model="params.amount" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>
                                <div class="form-control-focus"> </div>
                                <span ng-show="giftForm.amount.$invalid && !giftForm.amount.$pristine" class="help-block">Please provide amount upto 2 decimal places.</span>
                            </div>
                        </div>                       


                        <div class="form-group form-md-line-input" ng-class="{'has-error' : giftForm.start_date.$invalid && !giftForm.start_date.$pristine }">
                            <label for="form_control_1" class="col-md-4 control-label">Start Date<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group date date-picker" date-picker data-date-format="yyyy-mm-dd">
                                    <input type="text" ng-model="params.start_date" class="form-control" readonly name="start_date" required>
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>	                            
                                <span ng-show="giftForm.start_date.$invalid && !giftForm.start_date.$pristine" class="help-block"> select a start date </span>  
                            </div>
                        </div>

                        <div class="form-group form-md-line-input" ng-class="{'has-error' : giftForm.end_date.$invalid && !giftForm.end_date.$pristine }">
                            <label for="form_control_1" class="col-md-4 control-label">End Date<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-4">
                                <div class="input-group date date-picker" date-picker data-date-format="yyyy-mm-dd">
                                    <input type="text" ng-model="params.end_date" class="form-control" readonly name="end_date" compare-date="params.start_date">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>	                            
                                <span ng-show="giftForm.end_date.$invalid && !giftForm.end_date.$pristine" class="help-block"> select a end date </span>  
                            </div>
                        </div>



                        <div class="form-group form-md-radios">
                            <label for="form_control_1" class="col-md-4 control-label">Active</label>
                            <div class="col-md-8">
                                <div class="md-radio-inline">
                                    <div class="md-radio">
                                        <input type="radio" class="md-radiobtn" ng-model="params.active" id="active_yes" ng-value="true">
                                        <label for="active_yes">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Yes 
                                        </label>
                                    </div>

                                    <div class="md-radio">
                                        <input type="radio" class="md-radiobtn" ng-model="params.active" id="active_no" ng-value="false">
                                        <label for="active_no">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> No 
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group form-md-radios">
                            <label for="form_control_1" class="col-md-4 control-label">New Customer Only</label>
                            <div class="col-md-8">
                                <div class="md-radio-inline">
                                    <div class="md-radio">
                                        <input type="radio" class="md-radiobtn" ng-model="params.new_customer_only" id="new_customer_only_yes" ng-value="true">
                                        <label for="new_customer_only_yes">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Yes 
                                        </label>
                                    </div>

                                    <div class="md-radio">
                                        <input type="radio" class="md-radiobtn" ng-model="params.new_customer_only" id="new_customer_only_no" ng-value="false">
                                        <label for="new_customer_only_no">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> No 
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>    
                </div>
            </div>
        </div>






    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-actions pull-right">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn green" ng-disabled="giftForm.$invalid">Submit</button>
                        <button type="reset" class="btn default" ng-click="resetGiftForm()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>    
