<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="ng/market-store/list">Market Store</a>
        </li>
    </ul>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <h3 class="page-title"> Market Store List : Total ({{totalUsers}}) </h3> </div>
        <div class="col-md-6">
            <div class="btn-group pull-right page-title">
                <a class="btn btn-sm green btn-outline filter-submit margin-bottom" href="ng/market-store/add">
                    <i class="icon-user"></i> Add New Market Store </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box">

            <div class="portlet-body flip-scroll">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <label>Search:
                                <input type="search" ng-model="searchText" ng-keyup="searchMarketStoreList()" class="form-control input-sm input-medium input-inline" placeholder="Type and hit enter.">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="label label-success pull-right" ng-show="loaderValue"> Loading data... </span>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th> Name </th>
                            <th> Address </th>
                            <th> Email </th>
                            <th> Contact No </th>
                            <th class="numeric"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k, v) in info">
                            <td> {{v.name}} </td>
                            <td> {{v.address}} </td>
                            <td> {{v.email}} </td>
                            <td> {{v.contact_no}} </td>
                            <td class="numeric">
                                <a href="ng/market-store/edit/{{k}}" class="btn btn-outline btn-circle btn-sm purple" href="javascript:;"><i class="fa fa-edit"></i> View </a>
                                <a class="btn btn-outline btn-circle dark btn-sm black" ng-click="deleteMarketStore(k)" href=""><i class="fa fa-trash-o"></i> Delete </a>

                            </td>
                        </tr>
                        <tr ng-show="errors.status">
                            <td colspan="5" class="text-center font-red font-lg">{{errors.msg}}</td>
                        </tr>


                    </tbody>
                </table>

            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
